

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

form{
    
    background-color: white;
    border-radius: 10px;
    
    
    
}

.btn-primary{
    width: 100%;
    border-radius: 50px;
}

.form-control{
    color: rgba(0, 0, 0, 87);
    border-bottom-color: rgba(0,0,0,0,42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

.form-label{       
    font-weight: bold;
    font-family: Arial;
    color: black;
}

h1{        
    font-weight: bold;
    font-family: Arial;
    color: black;
}

@media (max-width: 517px){
    .form1{
        width: 250px !important;
        background-color: white;
        border-radius: 10px;
    }
    h4{
        font-size: 12px;
    }
    .full-bg-container {
        overflow-x :hidden;        
        background-color: rgb(3, 99, 43);
        background-size: contain;
        background-position: center;
        justify-content: center;
      }
      .container{
        overflow-x: hidden;
      }
      .form2{
        
        background-color: white;
        border-radius: 10px;
    }
      
}

.full-bg-container {
    height: 100vh;
    background-color: rgb(3, 99, 43);
    background-size: cover;
    background-position: center;
    justify-content: center;
  }

  .p{
    font-size: 12px;
  }